{% extends 'base.html' %}

{% block title %}Idea: {{ idea.title }}{% endblock %}

{% block content %}

<h1>
    {% if request.user in idea.authors.all or request.user.is_superuser %}
    <a href="{% url 'idea-edit' idea.slug %}" title="edit"><i class="glyphicon glyphicon-edit"></i></a>
    {% endif %}
    Idea: {{ idea.title }}
</h1>

<ul class="idea-properties">
    <li>
        author{% if idea.authors.count > 1 %}s{% endif %}:
        {% for author in idea.authors.all %}
            {{ author.get_username }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </li>
    {% if idea.redhackweeks.count %}
    <li>
        Nominated in
        {% for rhw in idea.redhackweeks.all %}
        <a href="{{ rhw.get_absolute_url }}">{{ rhw.title }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </li>
    {% endif %}
    {% if idea.project %}
    <li>
        Implemented in
        <a href="{{ idea.project.rhw.get_absolute_url }}">{{ idea.project.rhw.title }}</a>
        as
        <a href="{{ idea.project.get_absolute_url }}">{{ idea.project.title }}</a>
    </li>
    {% endif %}
</ul>

{{ idea.text|safe }}

{% endblock %}
