<div class="box project-preview">
    <h3><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h3>
    <ul class="properties project-properties">
        <li>Idea: <a href="{{ project.idea.get_absolute_url }}">{{ project.idea.title }}</a></li>
        <li>
            Team member{% if project.members.count > 1 %}s{% endif %}:
            {% for member in project.members.all %}
                {{ member.get_username }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            {% if project.rhw.status <= project.rhw.STATUS_HACKING %}
            {% if request.user in project.members.all %}
            <a href="{% url 'member_vote' slug=project.slug op='-' %}?back={{ request.path }}" title="remove from the list"><i class="glyphicon glyphicon-minus"></i></a>
            {% else %}
            <a href="{% url 'member_vote' slug=project.slug op='+' %}?back={{ request.path }}" title="add me to the list"><i class="glyphicon glyphicon-plus"></i></a>
            {% endif %}
            {% endif %}
        </li>
        {% if project.rhw.status >= project.rhw.STATUS_VOTING %}
        <li>
            Votes ({{ project.votes.count }}):
            {% for vote in project.votes.all %}
                {{ vote.get_username }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            {% if project.rhw.status == project.rhw.STATUS_VOTING and request.user not in project.members.all %}
            {% if request.user in project.votes.all %}
            <a href="{% url 'member_vote' slug=project.slug op='-' %}?back={{ request.path }}" title="remove from the list"><i class="glyphicon glyphicon-minus"></i></a>
            {% else %}
            <a href="{% url 'member_vote' slug=project.slug op='+' %}?back={{ request.path }}" title="add me to the list"><i class="glyphicon glyphicon-plus"></i></a>
            {% endif %}
            {% endif %}
        </li>
        {% endif %}
        {% if not redhackweek %}
        <li>
            Implemented in <a href="{{ project.rhw.get_absolute_url }}">{{ project.rhw.title }}</a>
        </li>
        {% endif %}
    </ul>
</div>
