{% extends 'base.html' %}

{% block title %}{% if project %}Edit project {{ project.title }}{% else %}Create project for {{ redhackweek.title }}{% endif %}{% endblock %}

{% block content %}

<h1>{% if project %}Edit project {{ project.title }}{% else %}Create project for {{ redhackweek.title }}{% endif %}</h1>

{% for error in form.non_field_errors %}
    <div class='alert alert-danger'>{{ error }}</div>
{% endfor %}

<form method="post" class="form-horizontal">{% csrf_token %}
    {{ form.media }}
    {% if not project %}
    <div class='form-group'>
        <label class="control-label col-md-2">Idea:</label>
        <div class="col-md-6">{{ idea.title }}</div>
    </div>
    {% endif %}
    {% for item in form %}
    <div class='form-group'>
        <label for="{{ item.id_for_label }}" class="control-label col-md-2">{{ item.label }}:</label>
        <div class="col-md-6{% if item.errors %} alert alert-danger{% endif %}">
            {% for error in item.errors %}
                <div>{{ error }}</div>
            {% endfor %}
            {{ item }}
            {% if item.help_text %}
                <span class='help-block'>{{ item.help_text }}</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class='form-group'>
        <div class='col-md-10 col-md-offset-2'>
            <input class="btn btn-primary" type="submit" value="{% if project %}Save{% else %}Create{% endif %}" />
        </div>
    </div>
    {% if not project %}{% include 'prepopulated_fields_js.html' %}{% endif %}
</form>

{% endblock %}
